/* 4K */
@media screen and (min-width: 1440px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    /* transition: top 0.2s ease-in-out; */
  }

  .wrap_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    height: 72px;
    margin: 0 auto;
  }
  .header_logo {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: normal;
  }
  .header_list {
    display: flex;
  }

  .header_list > li {
    position: relative;
  }

  .header_list > li > a {
    display: block;
    height: 72px;
    padding: 0 28px;
    line-height: 72px;
    font-weight: 700;
  }

  .header_list:hover > li > a {
    color: #888;
  }
  .header_list > li:hover > a {
    color: #000;
  }

  .header_list > li:first-child ul {
    width: 267px;
  }

  .header_list > li:nth-child(3) ul {
    width: 142px;
  }

  .header_list > li:last-child ul {
    width: 344px;
  }

  .submenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 4px;
    height: 48px;
    padding: 0 24.5px;
    background: #000;
    border-radius: 24px;
    box-sizing: border-box;
    z-index: 100;
  }

  .submenu > li > a {
    display: block;
    padding: 15px 0;
    color: #eeeeee !important;
  }

  .submenu > li > a:hover {
    font-weight: bold;
  }

  .header_util {
    display: flex;
  }
  .header_util button {
    width: 36px;
    height: 36px;
    margin-left: 12px;
  }
  .header_util button:first-child {
    margin: 0;
  }
  .header_util i {
    font-size: 24px;
  }

  footer {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
  }

  .wrap_footer {
    width: 1296px;
    margin: 0 auto;
    padding: 37px 0 48px 0;
  }

  .wrap_footer section {
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
  }
  .footer_section1 > div {
    width: 16.666%;
  }
  .footer_section1 a {
    font-weight: bold;
  }
  .footer_section1 ul li {
    margin-top: 12px;
    color: #888;
  }
  .footer_section2 {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }
  .footer-group {
    display: flex;
    justify-content: space-between;
  }
  .footer-group_info {
    display: flex;
  }
  .footer-group_info div {
    margin-left: 24px;
  }
  .footer-group_info div:first-child {
    margin-left: 0;
  }

  .footer-group_info div a,
  .footer-group_info div i {
    font-size: 12px;
    color: #888;
  }

  .footer-group_info div a.boldone {
    font-weight: bold;
    color: #000;
  }

  .footer_relbox > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 208px;
    height: 40px;
    line-height: 40px;
    padding: 10px 20px 12px;
    background: #eee;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    box-sizing: border-box;
  }
  /* .footer_relbox > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  } */
  .footer_section2 small,
  .footer_section2 small > a {
    color: #888;
  }

  .footer_main,
  .footer_relbox {
    position: relative;
  }

  .footer_sub,
  .rel_sub {
    position: absolute;
    bottom: 60px;
    left: 0;
    padding: 16px 0;
    background: #eee;
    border-radius: 12px;
  }

  .footer_sub li,
  .rel_sub li {
    margin-top: 12px;
    padding: 0 20px;
    white-space: nowrap;
  }

  .footer_sub li:first-child,
  .rel_sub li:first-child {
    margin: 0;
  }

  .footer_sub li a,
  .rel_sub li a {
    color: #666;
  }
  .footer_sub li:hover a,
  .rel_sub li:hover a {
    color: #111;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
/* mobile */
@media screen and (max-width: 767px) {
}
