.dark-mode .tit_date1 {
  background-image: url("../imgs/dark/date1.gif");
}
.dark-mode .tit_date2 {
  background-image: url("../imgs/dark/date2.gif");
}
.dark-mode .tit_date3 {
  background-image: url("../imgs/dark/date3.gif");
}
.dark-mode .tit_date4 {
  background-image: url("../imgs/dark/date4.gif");
}
.dark-mode .tit_date5 {
  background-image: url("../imgs/dark/date5.gif");
}
.dark-mode .tit_date6 {
  background-image: url("../imgs/dark/date6.gif");
}
.dark-mode .tit_date7 {
  background-image: url("../imgs/dark/date7.gif");
}
.dark-mode .tit_date8 {
  background-image: url("../imgs/dark/date8.gif");
}
.dark-mode .tit_date9 {
  background-image: url("../imgs/dark/date9.gif");
}
.dark-mode .tit_date10 {
  background-image: url("../imgs/dark/date10.gif");
}
.dark-mode .tit_date11 {
  background-image: url("../imgs/dark/date11.gif");
}
.dark-mode .tit_date12 {
  background-image: url("../imgs/dark/date12.gif");
}
.dark-mode .tit_date13 {
  background-image: url("../imgs/dark/date13.gif");
}
.dark-mode .tit_date14 {
  background-image: url("../imgs/dark/date14.gif");
}
.dark-mode .tit_date15 {
  background-image: url("../imgs/dark/date15.gif");
}
.dark-mode .tit_date16 {
  background-image: url("../imgs/dark/date16.gif");
}
.dark-mode .tit_date17 {
  background-image: url("../imgs/dark/date17.gif");
}
.dark-mode .tit_date18 {
  background-image: url("../imgs/dark/date18.gif");
}
.dark-mode .tit_date19 {
  background-image: url("../imgs/dark/date19.gif");
}
.dark-mode .tit_date20 {
  background-image: url("../imgs/dark/date20.gif");
}
.dark-mode .tit_date21 {
  background-image: url("../imgs/dark/date21.gif");
}
.dark-mode .tit_date22 {
  background-image: url("../imgs/dark/date22.gif");
}
.dark-mode .tit_date23 {
  background-image: url("../imgs/dark/date23.gif");
}
.dark-mode .tit_date24 {
  background-image: url("../imgs/dark/date24.gif");
}
.dark-mode .tit_date25 {
  background-image: url("../imgs/dark/date25.gif");
}
.dark-mode .tit_date26 {
  background-image: url("../imgs/dark/date26.gif");
}
.dark-mode .tit_date27 {
  background-image: url("../imgs/dark/date27.gif");
}
.dark-mode .tit_date28 {
  background-image: url("../imgs/dark/date28.gif");
}
.dark-mode .tit_date29 {
  background-image: url("../imgs/dark/date29.gif");
}
.dark-mode .tit_date30 {
  background-image: url("../imgs/dark/date30.gif");
}
.dark-mode .tit_date31 {
  background-image: url("../imgs/dark/date31.gif");
}
