.tit_date1 {
  background-image: url("../imgs/light/date1.gif");
}
.tit_date2 {
  background-image: url("../imgs/light/date2.gif");
}
.tit_date3 {
  background-image: url("../imgs/light/date3.gif");
}
.tit_date4 {
  background-image: url("../imgs/light/date4.gif");
}
.tit_date5 {
  background-image: url("../imgs/light/date5.gif");
}
.tit_date6 {
  background-image: url("../imgs/light/date6.gif");
}
.tit_date7 {
  background-image: url("../imgs/light/date7.gif");
}
.tit_date8 {
  background-image: url("../imgs/light/date8.gif");
}
.tit_date9 {
  background-image: url("../imgs/light/date9.gif");
}
.tit_date10 {
  background-image: url("../imgs/light/date10.gif");
}
.tit_date11 {
  background-image: url("../imgs/light/date11.gif");
}
.tit_date12 {
  background-image: url("../imgs/light/date12.gif");
}
.tit_date13 {
  background-image: url("../imgs/light/date13.gif");
}
.tit_date14 {
  background-image: url("../imgs/light/date14.gif");
}
.tit_date15 {
  background-image: url("../imgs/light/date15.gif");
}
.tit_date16 {
  background-image: url("../imgs/light/date16.gif");
}
.tit_date17 {
  background-image: url("../imgs/light/date17.gif");
}
.tit_date18 {
  background-image: url("../imgs/light/date18.gif");
}
.tit_date19 {
  background-image: url("../imgs/light/date19.gif");
}
.tit_date20 {
  background-image: url("../imgs/light/date20.gif");
}
.tit_date21 {
  background-image: url("../imgs/light/date21.gif");
}
.tit_date22 {
  background-image: url("../imgs/light/date22.gif");
}
.tit_date23 {
  background-image: url("../imgs/light/date23.gif");
}
.tit_date24 {
  background-image: url("../imgs/light/date24.gif");
}
.tit_date25 {
  background-image: url("../imgs/light/date25.gif");
}
.tit_date26 {
  background-image: url("../imgs/light/date26.gif");
}

.tit_date27 {
  background-image: url("../imgs/light/date27.gif");
}
.tit_date28 {
  background-image: url("../imgs/light/date28.gif");
}
.tit_date29 {
  background-image: url("../imgs/light/date29.gif");
}
.tit_date30 {
  background-image: url("../imgs/light/date30.gif");
}
.tit_date31 {
  background-image: url("../imgs/light/date31.gif");
}
